/*
	Get rid of Navbar rounded corners
	http://stackoverflow.com/a/15275488/4035
*/
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

#scene img {
    width: 250px;
    height: auto;
    offset-after: 30px;
}

.jumbotron {
    background-image: url("../images/floor-wall.jpg");
    /*background-size: cover;*/
    height: 100vh;
    margin-bottom: 0;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    background-repeat:no-repeat;
    background-size:cover;
}

.title {
    color: #FFFFFF;
}

.center {
    margin: 0 auto;
    width: 60%;
}


.layout-light {
    background: #9b9b9b;
}

.layout-dark {
    background: #1b1b1b;
}


header, footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}














